# Bonsai scripting files
.vs
bin
obj
Packages
*.bin
*.avi
*.dll
*.exe
*.exe.settings

# State recovery files
~*

# Bonsai scripting and environment files


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
winpython